<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8000/TravelManagement"
                      binding="basicHttpBinding"
                      contract="TravelSystem.Contracts.ITravelManagementService"
                      name="TravelManagementEndpoint" />
        </client>
        
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITravelManagementService" 
                         maxReceivedMessageSize="65536"
                         maxBufferSize="65536">
                    <readerQuotas maxDepth="32" 
                                  maxStringContentLength="8192" 
                                  maxArrayLength="16384"
                                  maxBytesPerRead="4096" 
                                  maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
